flask~=3.0.3
flask-sqlalchemy
flask-login
werkzeug~=3.0.4
python-dotenv~=1.0.1
langchain~=0.3.0
langchain-community
langchain-huggingface
langchain-groq
faiss-cpu
huggingface-hub
transformers
torch
sentence-transformers
pdfminer.six
pydantic~=2.9.2
flask-migrate
alembic~=1.13.2
SQLAlchemy~=2.0.35
pdf2image
numpy
filetype~=1.2.0
Pillow~=10.4.0
pandas~=2.2.3
openpyxl~=3.1.5
python-pptx
python-docx
PyMuPDF
langchain-chroma
docx~=0.2.4
pdfplumber~=0.11.4
chromadb~=0.5.15
nltk~=3.9.1
Jinja2~=3.1.4
MarkupSafe~=2.1.5